body{
    background-color: cadetblue;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    font-size: 6rem;
}
.set{
    display: flex;
    justify-content: center;
}
.drum{
    font-size: 5rem;
    padding: 0 15px 0 15px;
    margin: 0 10px 0 10px;
    box-shadow: 2px 2px 2px transparent;
    
}